@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-transform: capitalize;
    margin: 15% 0;
}

.login-diseño {
    background-color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 11px;
    flex-basis: 550px 600px;
    width: 350px;
}

.login-externo {

    width: 100%;
    display: flex;
    justify-content: center;
}

.externo-item {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 0 5%;
    cursor: pointer;
    height: 35px;
    background:linear-gradient( rgb(255, 255, 255), rgb(231, 231, 231));
    border-radius: 5px;
    transition: all .3s;
}

.externo-item:hover {
    background:linear-gradient(#cfcfcf,#cfcfcf)
}

.externo-item::selection {
    background:linear-gradient(#cfcfcf,#cfcfcf)
}

.externo-item span{
    margin-left: 4px;
}

.externo-item img {
    height: 70%;
}

.externo-item_span {
    color: #000;
    font-size: 20px;
}

.login-otros {
    color:#c7c7c7;
    padding: 0;
    margin: 15px 0px;
}

.login-formulario-input-correo {
    margin-bottom: 5px;
}
.login-formulario {
    width: 100%;
}

.login-formulario form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-formulario input {
    padding-left: 13px;
    border: 0;
    color: #ffffff;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    background-color: #171717;
}

.login-formulario input:focus {
    outline: 0;
    background-color: #202020;
}

::placeholder {
    color: #929292;
}

.cerouno {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.boton-iniciar-seccion {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 35px;
    background: linear-gradient(rgb(14, 151, 255),rgb(0, 84, 174) );
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}



.boton-texto {
    margin: 0;
    color: #fff;
    padding: 0;
}


.login-ayuda {
    color: #c7c7c7;
    margin: 10% 0;
}

@media only screen and (max-width:550px){
    .login-diseño {
        background:#000;
        width: 100%;
        padding: 0;
    }

    .login {
        align-items: flex-start;
        margin-top: 15vh;
    }

    .externo-item span {
        display: inline;
    }

    .externo-item {
        height: 40px;
    }


    .login-formulario input {
        height: 50px;
        width: 87%;
    }

    .boton-iniciar-seccion {
        height: 50px;
        width: 87%;
    }

    .login-formulario-input-correo {
        margin-bottom: 13px;
    }

    .externo-item:hover {
        background:linear-gradient(#ffffff,#ffffff)
    }
    .externo-item:active {
        background:linear-gradient(#cfcfcf,#cfcfcf);
        background-color:#cfcfcf ;
    }
}
