@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-transform: capitalize;
    margin: 20% 0;
}

.login-diseño {
    background-color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    flex-basis: 550px 600px;
    padding: 20px 40px;
    width: 350px;
}

.login-externo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.externo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 2.25rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all .3s;
}

.externo-item:hover {
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

.externo-item img {
    height: 70%;
    margin-right: 4%;
}

.externo-item_span {
    color: #000;
    font-size: 20px;
}

.login-formulario {
    display: flex;
    flex-direction: column;
}

.login-formulario input {
    color: #ffffff;
    width: 310px;
    height: 35px;
    border-radius: 5px;
    margin: 2px 0;
    background-color: #767676;
}

::placeholder {
    color: #cacaca;
}

.boton-iniciar-seccion {
    width: 270px;
    height: 30px;
    background-color: rgb(0, 123, 255);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.boton-iniciar-seccion:hover {
    transform: scaleX(1.05);
}

.boton-iniciar-seccion:hover > .boton-texto {
    transform: scaleX(0.95);
}

.boton-texto {
    color: #fff;
    transition: all .4s;
}

.login-opcionesmas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width:550px){
    .login-diseño {
        background:#000;
        width: 100%;
    }

    .login-formulario input {
        width: 100%;
    }

    .login-externo  {
        order: 1;
        margin-top: 8px;
        width: 150px;
    }

    .login-externo span {
        display: none;
    }

    .login-opcionesmas {
        order: 2;
    }

    .boton-iniciar-seccion {
        width: 200px;
    }

    .ceero {
        display: none;
    }
}